{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-4">
        <h3>Enter parameters:</h3>
            <form action="/web_page/{{ project.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.X }}
                </div>
                <div class="form-group">
                    {{ form.Y }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    <div class="col-md-6">
        <h5>Results:</h5>
        <p>A = [</p>
        {% for line in result %}
        <pre>{{ line }}</pre>
        {% endfor %}
        <p>]</p>
        <p>X = [</p>
        <a>
        {% for element in x %}
        {{ element }}
        {% endfor %}
        </a>
        <p>]</p>
        <p>pol = [</p>
        <a>
            {% for el in pol %}
            {% for e in el %}
            {{ e }} 
            {% endfor %}
            {% endfor %}
        </a>
        <p>]</p>
    </div>
</div>

{% endblock %}